Node-Red_Flows/300lab3_flow.json
[{"id":"90e52a26.e59dd8","type":"tab","label":"lab 2","disabled":false,"info":""},{"id":"aa8c73bc.cd03e","type":"inject","z":"90e52a26.e59dd8","name":"Timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":360,"wires":[["36f9282d.5d5458","6ca2ce29.cf46d","64c3d8ae.ec2618"]]},{"id":"36f9282d.5d5458","type":"file in","z":"90e52a26.e59dd8","name":"","filename":"/tmp/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":300,"wires":[["619f59db.c38ce8"]]},{"id":"619f59db.c38ce8","type":"ui_gauge","z":"90e52a26.e59dd8","name":"Robot Voltage","group":"d9562cb3.4cfff","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":300,"wires":[]},{"id":"6ca2ce29.cf46d","type":"file in","z":"90e52a26.e59dd8","name":"Heading","filename":"/tmp/Compass_Heading","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":280,"y":360,"wires":[["2277d860.40c448"]]},{"id":"64c3d8ae.ec2618","type":"file in","z":"90e52a26.e59dd8","name":"Direction","filename":"/tmp/Cardinal_Direction","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":280,"y":420,"wires":[["32a7113c.06535e"]]},{"id":"2277d860.40c448","type":"ui_gauge","z":"90e52a26.e59dd8","name":"","group":"d9562cb3.4cfff","order":1,"width":0,"height":0,"gtype":"compass","title":"Compass Heading","label":"units","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":360,"wires":[]},{"id":"32a7113c.06535e","type":"ui_text","z":"90e52a26.e59dd8","group":"d9562cb3.4cfff","order":2,"width":0,"height":0,"name":"","label":"Cardinal Direction","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":420,"wires":[]},{"id":"d9562cb3.4cfff","type":"ui_group","name":"Robot Voltage","tab":"58c25c0f.b6e964","order":1,"disp":true,"width":"6","collapse":false},{"id":"58c25c0f.b6e964","type":"ui_tab","name":"Lab 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]