Node-Red_Flows/lab 5 flow.json
[{"id":"dd9299b4.b48758","type":"tab","label":"Lab 5","disabled":false,"info":""},{"id":"c32c14b8.53da58","type":"inject","z":"dd9299b4.b48758","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["2d2ea3cf.27320c","d1ed3880.0e02c8","c43edd82.57833","e7f6c3ed.bc1f7","f28872f3.58b42"]]},{"id":"2d2ea3cf.27320c","type":"file in","z":"dd9299b4.b48758","name":"Left Wheel (rad/s)","filename":"/tmp/Left_Wheel","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":280,"wires":[["ff8b47d5.ec6d48"]]},{"id":"d1ed3880.0e02c8","type":"file in","z":"dd9299b4.b48758","name":"Right Wheel (rad/s)","filename":"/tmp/Right_Wheel","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":340,"wires":[["a7809f55.5fd8f"]]},{"id":"248673b1.66a62c","type":"ui_chart","z":"dd9299b4.b48758","name":"Forward Velocity m/s","group":"900f0545.f6a438","order":4,"width":0,"height":0,"label":"Forward Velocity m/s","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":"0.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":400,"wires":[[]]},{"id":"21b54daa.9b4462","type":"ui_chart","z":"dd9299b4.b48758","name":"Angular Velocity rad/s","group":"900f0545.f6a438","order":5,"width":0,"height":0,"label":"Angular Velocity rad/s","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-3.5","ymax":"3.5","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":460,"wires":[[]]},{"id":"c43edd82.57833","type":"file in","z":"dd9299b4.b48758","name":"","filename":"/tmp/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":220,"wires":[["517dd36a.9ae58c"]]},{"id":"517dd36a.9ae58c","type":"ui_gauge","z":"dd9299b4.b48758","name":"Robot Voltage","group":"b8a21d2c.1018","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":220,"wires":[]},{"id":"e7f6c3ed.bc1f7","type":"file in","z":"dd9299b4.b48758","name":"Forward Velocity (m/s)","filename":"/tmp/X_dot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":400,"wires":[["248673b1.66a62c"]]},{"id":"f28872f3.58b42","type":"file in","z":"dd9299b4.b48758","name":"Angular Velocoty (rad/s)","filename":"/tmp/Theta_dot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":460,"wires":[["21b54daa.9b4462"]]},{"id":"ff8b47d5.ec6d48","type":"ui_chart","z":"dd9299b4.b48758","name":"Left Wheel (rad/s)","group":"b3b5af36.7d90a","order":4,"width":0,"height":0,"label":"Left Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":280,"wires":[[]]},{"id":"a7809f55.5fd8f","type":"ui_chart","z":"dd9299b4.b48758","name":"Right Wheel (rad/s)","group":"b3b5af36.7d90a","order":5,"width":0,"height":0,"label":"Right Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":340,"wires":[[]]},{"id":"900f0545.f6a438","type":"ui_group","name":"Chassis Speed","tab":"8a6e5885.d38f08","order":2,"disp":true,"width":"6","collapse":false},{"id":"b8a21d2c.1018","type":"ui_group","name":"Robot","tab":"8a6e5885.d38f08","order":1,"disp":true,"width":"6","collapse":false},{"id":"b3b5af36.7d90a","type":"ui_group","name":"Wheel Speed","tab":"8a6e5885.d38f08","order":3,"disp":true,"width":"6","collapse":false},{"id":"8a6e5885.d38f08","type":"ui_tab","name":"Tab 5","icon":"dashboard","order":5}]