Node-Red_Flows/lab4 flow.json
[{"id":"f18ca8c5.adbc58","type":"tab","label":"Lab 4","disabled":false,"info":""},{"id":"333d0630.3577fa","type":"inject","z":"f18ca8c5.adbc58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":220,"wires":[["21791eb6.491db2","dc710f9c.8dcb4","3ad65000.a5b6e"]]},{"id":"21791eb6.491db2","type":"file in","z":"f18ca8c5.adbc58","name":"Forward Velocity","filename":"/tmp/Forward Velocity","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":220,"wires":[["2f5dbda5.7c46b2"]]},{"id":"dc710f9c.8dcb4","type":"file in","z":"f18ca8c5.adbc58","name":"Angular Velocity","filename":"/tmp/Angular Velocity","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":280,"wires":[["5ce45960.344198"]]},{"id":"2f5dbda5.7c46b2","type":"ui_chart","z":"f18ca8c5.adbc58","name":"Forward Velocity m/s","group":"5ca3655b.3a889c","order":4,"width":0,"height":0,"label":"Forward Velocity m/s","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":"0.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":220,"wires":[[]]},{"id":"5ce45960.344198","type":"ui_chart","z":"f18ca8c5.adbc58","name":"Angular Velocity rad/s","group":"5ca3655b.3a889c","order":5,"width":0,"height":0,"label":"Angular Velocity rad/s","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-3.5","ymax":"3.5","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":280,"wires":[[]]},{"id":"3ad65000.a5b6e","type":"file in","z":"f18ca8c5.adbc58","name":"","filename":"/tmp/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":160,"wires":[["7116506f.a2183"]]},{"id":"7116506f.a2183","type":"ui_gauge","z":"f18ca8c5.adbc58","name":"Robot Voltage","group":"5ac005eb.7f1a2c","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":160,"wires":[]},{"id":"5ca3655b.3a889c","type":"ui_group","name":"Chassis Speed","tab":"ab288e54.07b2","order":2,"disp":true,"width":"6","collapse":false},{"id":"5ac005eb.7f1a2c","type":"ui_group","name":"Robot Diagnostics","tab":"ab288e54.07b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab288e54.07b2","type":"ui_tab","name":"Lab 4","icon":"dashboard","order":3,"disabled":false,"hidden":false}]