Node-Red_Flows/Lab6Flow.json
[{"id":"42622b92.e84d44","type":"tab","label":"Lab 6","disabled":false,"info":""},{"id":"c8da9bfa.1d84b8","type":"file in","z":"42622b92.e84d44","name":"","filename":"/tmp/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":200,"wires":[["6e7d89a4.ff0c78"]]},{"id":"6e7d89a4.ff0c78","type":"ui_gauge","z":"42622b92.e84d44","name":"Robot Voltage","group":"90325648.b86838","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":200,"wires":[]},{"id":"54c01fe5.79fdc","type":"inject","z":"42622b92.e84d44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":280,"wires":[["c8da9bfa.1d84b8","d227d1d1.628de","cdf31a36.becde8","b73fbe09.6df3f","1d6fa4f7.00fa2b"]]},{"id":"d227d1d1.628de","type":"file in","z":"42622b92.e84d44","name":"","filename":"/tmp/Distances","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":260,"wires":[["65c06486.86c02c"]]},{"id":"b73fbe09.6df3f","type":"file in","z":"42622b92.e84d44","name":"","filename":"/tmp/X","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":380,"wires":[["60c33130.84f38"]]},{"id":"cdf31a36.becde8","type":"file in","z":"42622b92.e84d44","name":"","filename":"/tmp/Y","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":440,"wires":[["74c0e6e4.12a2b8"]]},{"id":"1d6fa4f7.00fa2b","type":"file in","z":"42622b92.e84d44","name":"Heading","filename":"/tmp/Compass_Heading","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":320,"wires":[["c3b83e6e.295cc"]]},{"id":"c3b83e6e.295cc","type":"ui_gauge","z":"42622b92.e84d44","name":"","group":"40b82713.ba7be8","order":1,"width":0,"height":0,"gtype":"compass","title":"Compass Heading","label":"Degrees","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":320,"wires":[]},{"id":"65c06486.86c02c","type":"ui_chart","z":"42622b92.e84d44","name":"Distances","group":"40b82713.ba7be8","order":4,"width":0,"height":0,"label":"Distance (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":260,"wires":[[]]},{"id":"60c33130.84f38","type":"ui_chart","z":"42622b92.e84d44","name":"X Axis (m)","group":"74918948.c28ef8","order":4,"width":0,"height":0,"label":"X Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2.5","ymax":"2.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":380,"wires":[[]]},{"id":"74c0e6e4.12a2b8","type":"ui_chart","z":"42622b92.e84d44","name":"Y Axis (m)","group":"74918948.c28ef8","order":4,"width":0,"height":0,"label":"Y Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2.5","ymax":"2.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":440,"wires":[[]]},{"id":"90325648.b86838","type":"ui_group","name":"Robot Diagnostics","tab":"8ad18deb.dfdfb","order":1,"disp":true,"width":"6","collapse":false},{"id":"40b82713.ba7be8","type":"ui_group","name":"Polar Coordinates","tab":"8ad18deb.dfdfb","order":2,"disp":true,"width":"6","collapse":false},{"id":"74918948.c28ef8","type":"ui_group","name":"Cartesian Coordinates","tab":"8ad18deb.dfdfb","order":3,"disp":true,"width":"6","collapse":false},{"id":"8ad18deb.dfdfb","type":"ui_tab","name":"Lab 6","icon":"dashboard","order":6,"disabled":false,"hidden":false}]